<!--<div ng-include="'app/components/navbar/navbar.html'"></div>-->

<nav class="navbar navbar-fixed-top dark" >
    <div class="container">
        <form ng-submit="searchBook()">
            Book finder
            <input id="search" ng-model="search" placeHolder="Title or Author">
            <input id="button" class="btn btn-outline-info" type="submit" value="Search">
        </form>
    </div>
</nav>

<div class="container" infinite-scroll="nextPage()" infinite-scroll-disabled="busy"
    infinite-scroll-distance="0">
    <div id="row">
        <div class="card-group">
            <a href="">
                <div masonry column-width="90" preserve-order>
                        <div class="masonry-brick" ng-repeat="book in books" style="padding-top: 20px">
                            <div class="card card-block" style="width: 160px; padding: 15px">
                                <img class="book-thumbnail"ng-src="{{book.thumbnail}}" alt="A masonry brick">
                                <div class="text_wrapper-mosaic border_top_grey">
                                    <h2 class="book-title-mosaic">{{book.title}}</h2>
                                    <p class="book-author-mosaic">{{book.authors}}</p>
                                    <p class="book-author">{{book.categories}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div ng-show="busy">Loading data..</div>
        </div>
    </div>
</div>


<!--<div class="container" infinite-scroll="nextPage()" infinite-scroll-disabled="busy"-->
     <!--infinite-scroll-distance="0">-->
    <!--<div id="row">-->
        <!--<div class="card-group">-->
            <!--<div masonry class="col-xs-2">-->
                <!--<a href="">-->
                    <!--<div class="card card-block">-->
                        <!--<div class="masonry-brick" ng-repeat="book in books">-->
                            <!--<img ng-src="{{book.thumbnail}}" alt="A masonry brick">-->
                        <!--</div>-->
                        <!--<div class="text_wrapper border_top_grey">-->
                            <!--<h2 class="book-title">{{book.title}}</h2>-->
                            <!--<p class="book-author">{{book.authors}}</p>-->
                            <!--<p class="book-author">{{book.categories}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->

            <!--</div>-->
            <!--<div ng-show="busy">Loading data..</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<!--<div ng-include="'components/footer/footer.html'"></div>-->