<!--<div class="modal-header">-->
    <!--<h3 class="modal-title" id="modal-title">I'm a modal!</h3>-->
<!--</div>-->
<div class="modal-body" id="modal-body">
    <div class="container-fluid bd-example-row">
        <div class="row">
            <div class="modal-book-title">
                <h2>{{book.title}}</h2>
            </div>
            <div class="col-md-2">
                <img ng-src="{{book.thumbnail}}" class="modal-book-thumbnail">
            </div>
            <div class="col-md-10" style="padding-left: 30px;">
                <div>By: <a href="">{{book.authors}}</a></div>
                <div class="publisher">
                    {{book.publisher}} {{book.pageCount}}
                </div>
                <div  class="book-description" ng-class="{show: show}" ng-click="show = true" ng-bind-html="book.description">

                <!--</div><button ng-click="show = true">Show text</button>-->
            </div>
        </div>
    </div>
</div>
<!--<div class="modal-footer">-->
<!--<button class="btn btn-primary" type="button" ng-click="">OK</button>-->
<!--<button class="btn btn-warning" type="button" ng-click="">Cancel</button>-->
<!--</div>-->